.emailFixed{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    right: 50px;
    z-index: 9;

    @media(max-width: 991px){
        display: none;
    }

    a{
        width: 20px;
        height: 20px;
        color: $third-lightest;
        font-size: $fontsize-md;
        font-weight: 300;
        position: relative;
        top: -160px;
        left: -1px;
        transition: top 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
        writing-mode: vertical-lr;

        &:hover{
            color: $primary !important;
        }
    }

    hr{
        background-color: $third-lightest;
        width: 1px;
        height: 90px;
        margin-top: 15px;
    }
}