.loadingComponent{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 12, 27);
    padding: 30px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    animation: disappearDIV 2s ease-in 1;
    opacity: 0;
    
    svg{
        width: 200px;
        animation: disappearSVG 1.85s ease-in 1;
        transform: scale(0);
        
        polygon{
            stroke-dasharray: 300 300 0 0;
            stroke-dashoffset: 0;
            animation: polygonLoading 1.5s ease-in-out 1;
        }
    }

    @keyframes disappearSVG {
        0%{
            transform: scale(1);
        }
        
        80%{
            transform: scale(1);
        }

        100%{
            transform: scale(0);
        }
    }

    @keyframes polygonLoading {
        from{
            stroke-dasharray: 0 300 0 0;
        }

        to{
            stroke-dasharray: 300 300 0 0;
        }
    }

    @keyframes disappearDIV {
        0%{
            opacity: 1;
        }

        90%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }
}