// Calibre
@font-face {
    font-family: "Calibre";
    src: url("/src/assets/fonts/Calibre/CalibreLight.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "Calibre";
    src: url("/src/assets/fonts/Calibre/CalibreRegular.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "Calibre";
    src: url("/src/assets/fonts/Calibre/CalibreMedium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "Calibre";
    src: url("/src/assets/fonts/Calibre/CalibreBold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "Calibre";
    src: url("/src/assets/fonts/Calibre/CalibreBlack.otf") format("opentype");
    font-weight: 900;
}



// SF Mono
@font-face {
    font-family: "SF Mono";
    src: url("/src/assets/fonts/SFMono/SFMono-Light.otf") format("opentype");
    font-weight: 100;
}

@font-face {
    font-family: "SF Mono";
    src: url("/src/assets/fonts/SFMono/SFMono-Regular.otf") format("opentype");
    font-weight: 300;
}

@font-face {
    font-family: "SF Mono";
    src: url("/src/assets/fonts/SFMono/SFMono-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: "SF Mono";
    src: url("/src/assets/fonts/SFMono/SFMono-Bold.otf") format("opentype");
    font-weight: 800;
}

@font-face {
    font-family: "SF Mono";
    src: url("/src/assets/fonts/SFMono/SFMono-Heavy.otf") format("opentype");
    font-weight: 900;
}