.footer{
    margin-top: 200px;
    padding-bottom: 25px;

    p{
        font-family: "SF Mono";
        color: $third-light;
        font-size: 12px;
        line-height: 12px;
        font-weight: 300;
        text-align: center;
    }
}