*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;

    @media(max-width: 991px){
        font-size: 12px;
    }
}

body{
    background-color: $fourth;
}

body, html{
    font-family: "Calibre", sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

button{
    border: 0;
    outline: none;
}

img{
    display: block;
}

hr{
    border: 0;
}