*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    scroll-behavior: smooth;

    @media(max-width: 991px){
        font-size: 12px;
    }
}

body{
    background-color: $fourth;
}

body, html{
    font-family: "Calibre", sans-serif;
}

a{
    display: block;
    text-decoration: none;
}

button{
    border: 0;
    outline: none;
    cursor: pointer;
}

img{
    display: block;
}

hr{
    border: 0;
}

div, section{
    scroll-behavior: smooth;

    /* Track */
    &::-webkit-scrollbar-track {
        background: $fourth-light !important;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $fourth-lightest !important;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $primary !important;
    }
}