.contact{
    margin-top: 200px;

    &__topic{
        text-align: center;
        font-family: "SF Mono";
        color: $primary;
        font-size: $fontsize-xs;
        line-height: 1;
        margin-bottom: 20px;
    }

    h1{
        text-align: center;
        color: $third-lightest;
        font-size: $fontsize-heading-4;
        line-height: $lineheight-heading-4;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__text{
        max-width: 600px;
        text-align: center;
        color: $third;
        font-size: $fontsize-xl;
        line-height: $lineheight-xl;
        margin: 0 auto 30px auto;
    }

    .c-btn{
        margin: 0 auto;
    }
}