.introduction{
    margin-top: 200px;

    h3{
        font-family: "SF Mono";
        color: $primary;
        font-size: $fontsize-md;
        line-height: $lineheight-md;
        font-weight: 300;
        margin-bottom: 30px;
    }   

    h1{
        color: $third-lightest;
        font-size: $fontsize-heading-5;
        line-height: $lineheight-heading-5;
        font-weight: 600;

        span{
            display: block;
            color: $third;
        }
    }

    h2{
        max-width: 570px;
        color: $third;
        font-size: $fontsize-xl;
        line-height: $lineheight-xl;
        font-weight: 300;
        margin-top: 10px;
    }

    .c-btn{
        margin-top: 50px;
    }
}