// Fontsize
// 13px
$fontsize-xxs: .8125rem; 
$lineheight-xxs: .8125rem; 

// 14px
$fontsize-xs: .875rem; 
$lineheight-xs: .875rem;

// 16px
$fontsize-md: 1rem;
$lineheight-md: 1rem;

// 18px 
$fontsize-lg: 1.125rem; 
$lineheight-lg: 1.125rem;

// 20px
$fontsize-xl: 1.25rem; 
$lineheight-xl: 1.50rem;

// 22px
$fontsize-xxl: 1.375rem; 
$lineheight-xxl: 1.375rem;

// 28px
$fontsize-xxxl: 1.75rem; 
$lineheight-xxxl: 1.75rem;

// 32px
$fontsize-heading: 2rem; 
$lineheight-heading: 2rem;

// 60px
$fontsize-heading-4: 3.75rem; 
$lineheight-heading-4: 3.75rem;

// 80px
$fontsize-heading-5: 5rem; 
$lineheight-heading-5: 5rem;