.c-ml-1{
    margin-left: 5px;
}
.c-ml-2{
    margin-left: 10px;
}
.c-ml-3{
    margin-left: 15px;
}

.c-mr-1{
    margin-right: 5px;
}
.c-mr-2{
    margin-right: 10px;
}
.c-mr-3{
    margin-right: 15px;
}